root {
    --base-fill: "#C4C4C4";
    --animation-fill: "#08090a";
}

.card-item {
    /* padding: 10px; */
    margin: 20px;
}

.audio-react-recorder {
    border: 1px solid #21094e;
    border-radius: 4px;
    margin-right: 10px;
}

.control-button {
    /* margin-top: 10px; */
}